<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>MWorks Client</title>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.pnotify.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('filetree.static', filename='js/jqueryFileTree.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}" />

    <link href="{{ url_for('filetree.static', filename='css/jqueryFileTree.css') }}" rel="stylesheet"></link>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />

    <style>
        body {
            font: 62.5% "Trebuchet MS", sans-serif;
        }

        #chart {
            height: 500px;
        }
        
        .control_column {
            float: left;
            min-width: 250px;
        }

        .multicolumn_block{
            overflow: hidden;
        }
    </style>

    {% block head %}
    {% endblock %}

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/client.js') }}"></script>

    <script>
        $.pnotify.defaults.styling = "jqueryui";
        var client; // make this global

        {% block head_js %}
        {% endblock %}

        $(document).ready(function () {
            console.log("document ready");

            client = mworks.client();
            client.connect_socket();
            // need to template the toolbar, and other tags that require id
            $('#toolbar').tabs();
            $('#display').tabs();

            $('#filetree').fileTree({
                root: '~/Repositories/coxlab/protocols',
                script: "{{ url_for('filetree.sfiles') }}",
            }, function (file) {
                $('#filetree').dialog('close');
                client.experiment_path(file);
                client.load_experiment();
            });

            $('#filetree').dialog({
                autoOpen: false,
                height: 400,
            });

            client.select_experiment = function () {
                $('#filetree').dialog('open');
            };

            client.throw = function (msg) {
                $.pnotify({
                    title: 'Error',
                    text: msg,
                    type: 'error',
                });
                throw msg;
            };
            // must be done AFTER redefining select_experiment :-/ 
            client.apply_binding('#toolbar');
            client.apply_binding('#disp_variables');
            client.bind_variables('[var-bind]');

            {% block documentready_js %}
            {% endblock %}
        });
    </script>
</head>
<body>
    <div class="client" data-bind="with: client">
        <div id="toolbar" class="toolbar">
            <ul>
                <li><a href='#tb_connection'>Connection</a></li>
                <li><a href='#tb_experiment'>Experiment</a></li>
                <li><a href='#tb_variableset'>Variableset</a></li>
                <li><a href='#tb_datafile'>Datafile</a></li>
                <li><a href='#tb_config'>Config</a></li>
            </ul>
            <!-- Connection -->
            <div id="tb_connection" class="tb_connection">
                <span>Socket: 
                <span class="socket_connected"
                    data-bind="text: socket_connected_verbose"></span></span>
                <span>Server:
                <span class="connected"
                    data-bind="text: connected_verbose"></span></span>
                <span>Host:
                <input class="host" title="host"
                data-bind="value: host"></input></span>
                <span>Port:
                <input class="port" title="port"
                    data-bind="value: port"></input></span>
                <span>User:
                <input class="user" title="user"
                    data-bind="value: user"></input></span>
                <button class="connect"
                    data-bind="text: toggle_connect_label,
                        click: toggle_connect">
                </button>
                <input class="start_server" type="checkbox"
                    title="Start Server?"
                    data-bind="checked: startserver">Start Server</input>
            </div>

            <!-- Experiment -->
            <div id="tb_experiment" class="tb_experiment">
                <button class="running"
                    title="Start/Stop"
                    data-bind="text: toggle_running_label,
                        click: toggle_running">
                </button>
                <button class="paused"
                    title="Pause/Resume"
                    data-bind="text: toggle_paused_label,
                        click: toggle_paused">
                </button>
                <span class="experiment_name"
                    data-bind="text: experiment_name"></span>
                <input class="experiment_path"
                    data-bind="value: experiment_path"></input>
                <button class="load_experiment"
                    data-bind="click: select_experiment">Select Experiment
                </button>
                <span>Protocol:
                <select class="protocol"
                    title="Select protocol"
                    data-bind="options: protocols, value: protocol">
                </select></span>
            </div>

            <!-- Variables -->
            <div id="tb_variableset" class="tb_variableset">
                <span>Variables:
                <select class="variableset"
                    title="Select variableset"
                    data-bind="options: variablesets,
                        value: variableset">
                </select>
                <input class="variableset_overwrite" type="checkbox"
                    title="Overwrite Variables?"
                    data-bind="checked: variableset_overwrite"></input>
                <button class="load_variableset"
                    title="Load Variables"
                    data-bind="click: load_variableset">Load</button>
                <button class="save_variableset"
                    title="Save Variables"
                    data-bind="click: save_variableset">Save</button>
                </span>
            </div>

            <!-- Datafile -->
            <div id="tb_datafile" class="tb_datafile">
                <span>Datafile:
                <input class="datafile" data-bind="value: datafile"></input>
                <input class="datafile_overwrite" type="checkbox"
                    title="Overwrite Datafile?"
                    data-bind="checked: datafile_overwrite"></input>
                <button class="open_datafile" data-bind="click: open_datafile">
                Open</button>
                <button class="close_datafile" data-bind="click: close_datafile">
                Close</button>
                </span>
            </div>
            <div id="tb_config" class="tb_config">
                <span>Config:
                </span>
            </div>
        </div> <!-- toolbar -->
        <div id="display" class="toolbar">
            <ul>
                <li><a href='#disp_variables'>Variables</a></li>
                <li><a href='#disp_controls'>Controls</a></li>
                <li><a href='#disp_graphs'>Graphs</a></li>
                {% block display_menu %}
                {% endblock %}
            </ul>
            <div id="disp_variables" class="disp_variables">
                <table>
                    <thead><tr>
                            <th>Name</th><th>Latest</th>
                    </tr></thead>
                    <tbody data-bind="foreach: vars">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td><input class="variable_edit" data-bind="value: latest_value"/></td>
                            <!-- <td data-bind="text: latest_value"</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="disp_controls" class="disp_controls">
                {% block display_controls %}
                {% endblock %}
            </div>
            <div id="disp_graphs" class="disp_graphs">
                <div>
                    <button class="control_button" title="start graphing"
                        onclick="start_graphing()">Start Graphing</button>
                    <button class="control_button" title="stop graphing"
                        onclick="stop_graphing()">Stop Graphing</button>
                </diV>
                <svg id='chart'></svg>
            </div>
            {% block display_items %}
            {% endblock %}
    </div>
    <div id="filetree" title="Select a file"></div>
    {% block body %}
    {% endblock %}
</body>
</html>
