{% extends "base.html" %}
{# available:
    head
    head_js
    documentready_js
    display_menu
    display_items
    display_controls
    body
#}

{% block head %}
    <style>
        #disp_camera {
            position: fixed;
            right: 5px;
            top: 5px;
        }
        .client {
            width: 75%;
        }
    </style>
{% endblock %}

{% block head_js %}
        function setup_camera() {
            $('#disp_camera img').attr('src', 'http://' + client.host() + ':8020/videoView');
        };
        
        reports.spreadsheet = "0AjZL_uuHnIq8dGYyRzRlTlR4dHdQNnNxbWZ2aU8tV1E";

        reports.vars = ['phases_completed', 'criterion_count', 'curr_performance',
                        'correct_lick', 'bad_lick', 'correct_ignore', 'bad_ignore', 'targetprob'];

{% endblock %}

{% block documentready_js %}
            $(client).on('after:connected', setup_camera);
            //client.after_connected = function () {
            //    setup_camera();
            //};

            $(client).on('after:codec', function () {
            //client.after_codec = function () {
                client.apply_binding('#disp_controls');
                client.add_graph(['correct_lick', 'bad_lick', 'correct_ignore', 'bad_ignore'], 'stacked');
            });
{% endblock %}

{% block display_menu %}
<!--                <li><a href='#disp_camera'>Camera</a></li> -->
{% endblock %}

{% block display_controls %}
                <!-- example button control that sends most recent value -->
                <div var-bind="button=client.varbyname('default_reward_amount').latest_value():lick_output">Give Reward</div>
                <div var-bind="button=500:lick_input">Trigger lick_input</div>
                <div var-bind="button=0:lick_input">Zero lick_input</div>
                <div var-bind="button=1000:lick_input">Max lick_input</div>
                <div var-bind="check:flag_head_sensing">Head Sensing</div>
                <h1 class="control_heading">Basics</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Reward</h2>
                        <div var-bind="check:flag_always_reward">Always Reward</div>
                        <div var-bind="default_alwaysreward_amount">ml</div>
                        <h3 class="control_heading">Standard Reward</h3>
                        <div var-bind="reward_min">min</div>
                        <div var-bind="reward_max">max</div>
                        <div var-bind="reward_increment">increment</div>
                        <div var-bind="default_reward_amount">Manual Reward</div>
                        <div var-bind="button=client.varbyname('default_reward_amount').latest_value():lick_output">Give Reward</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Punishment</h2>
                        <div var-bind="check:flag_punish_lick">Punish Licking</div>
                        <div var-bind="default_punish_numcycles">N Cycles</div>
                        <div var-bind="default_timeout_dur">Timeout</div>
                        <div var-bind="check:flag_postreward_punish">Post-reward Punish</div>
                        <div var-bind="postreward_punish">N Cycles</div>
                        <div var-bind="postreward_timeout">Timeout</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Timing</h2>
                        <div var-bind="check:flag_dim_target">Dim Target</div>
                        <div var-bind="targetdur_time">Target Duration</div>
                        <div var-bind="distractor_time">Distractor Duration</div>
                        <div var-bind="reward_time">Licking Duration</div>
                        <h2 class="control_heading">Stimuli</h2>
                        <div var-bind="targetprob">Target Prob</div>
                        <div var-bind="curr_contrast">Distractor Contrast</div>
                    </div>
                </div>
                <h1 class="control_heading">Phase training</h1>
                <div var-bind="check:flag_automate">Automate Training</div>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Manual Training</h2>
                        <div var-bind="check:flag_prereward">Pre Reward</div>
                        <div var-bind="check:flag_target_training">Target Training</div>
                        <div var-bind="check:flag_contrast_training">Contrast Training</div>
                        <div var-bind="check:flag_always_reward">Always Reward</div>
                        <div var-bind="check:flag_punish_lick">Punish Licking</div>
                        <div var-bind="check:flag_postreward_punish">Post-reward Punish</div>
                        <div var-bind="phases_completed">Phases Completed</div>
                        <div var-bind="threshold">Threshold</div>
                        <div var-bind="min_for_criterion">Min Trials for Criterion</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Phase Transition</h2>
                        <div var-bind="correct_lick">Correct Lick</div>
                        <div var-bind="correct_ignore">Correct Ignore</div>
                        <div var-bind="bad_lick">Bad Lick</div>
                        <div var-bind="bad_ignore">Bad Ignore</div>
                        <div var-bind="criterion_count">Criterion Count</div>
                        <div var-bind="criterion_met">Criterion Met</div>
                    </div>
                </div>
                <h1 class="control_heading">Phases</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Target Prob</h2>
                        <div var-bind="targetprob">Target Prob</div>
                        <div var-bind="targetprob_up_thresh">Up threshold</div>
                        <div var-bind="targetprob_down_thresh">Down threshold</div>
                        <div var-bind="targetprob_upper">Upper Bound</div>
                        <div var-bind="targetprob_lower">Lower Bound</div>
                        <div var-bind="targetprob_stepsize">Increment</div>
                        <div var-bind="progress">Current Tracked</div>
                        <div var-bind="curr_progress">Current Overall Success</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Contrast</h2>
                        <div var-bind="curr_contrast">Distractor Contrast</div>
                        <div var-bind="contrast_up_thresh">Up threshold</div>
                        <div var-bind="contrast_down_thresh">Down threshold</div>
                        <div var-bind="contrast_upper">Upper Bound</div>
                        <div var-bind="contrast_lower">Lower Bound</div>
                        <div var-bind="contrast_stepsize">Increment</div>
                        <div var-bind="distractor_perf">Current Tracked</div>
                        <div var-bind="curr_distractor_perf">Current Overall Success</div>
                    </div>
                </div>
                <h1 class="control_heading">IO</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Head Sensor</h2>
                        <div var-bind="head_input">Value</div>
                        <div var-bind="headsensor_min">Min</div>
                        <div var-bind="headsensor_max">Max</div>
                        <div var-bind="button=500:head_input">Trigger</div>
                        <div var-bind="button=0:head_input">Zero</div>
                        <div var-bind="button=1000:head_input">Max</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Lick Sensor</h2>
                        <div var-bind="lick_input">Value</div>
                        <div var-bind="licksensor_min">Min</div>
                        <div var-bind="licksensor_max">Max</div>
                        <div var-bind="button=500:lick_input">Trigger</div>
                        <div var-bind="button=0:lick_input">Zero</div>
                        <div var-bind="button=1000:lick_input">Max</div>
                    </div>
                </div>
{% endblock %}

{% block display_items %}
<!--            <div id="disp_camera" class=disp_camera">
                <img src=""></img>
            </div> -->
{% endblock %}

{% block body %}
    <div id="disp_camera" class="disp_camera">
        <img src="/static/im.jpg"></img>
    </div>
{% endblock %}
