<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>Plot</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <script>
        var socket; // make this global

        $(document).ready(function () {
            console.log("document ready");
            socket = io.connect('/client');


            console.log("socket: " + socket);
            socket.on('connect', function () {
                console.log('socket connected');
                $('#status').text('Connected');
            });

            socket.on('disconnect', function () {
                console.log('socket disconnected');
                // show that chart is disconnected
                $('#status').text('Disconnected');
            });

            socket.on('event', function (event) {
                console.log("Got event: " + event + " " + typeof(event));
            });

            socket.on('error', function (error) {
                console.log("Error: " + error);
            });

            socket.on('state', function (state) {
                console.log("State: " + state);
            });

            socket.on('iostatus', function (iostatus) {
                console.log("IOStatus: " + iostatus);
            });
            /*
            Can send:
            - event
            - command
            - generic : this should be a send->recv
            */
        });
    </script>
</head>
<body>
    <div id="status"></div>
    <div id="chart">
        <!-- make a placeholder 'Not connected' notification -->
        <svg style='height: 500px'>
        </svg>
    </div>
</body>
</html>
