{% extends "base.html" %}
{# available:
    head
    head_js
    documentready_js
    display_menu
    display_items
    display_controls
    body
#}

{% block documentready_js %}
            $(client).on('after:codec', function () {
            //client.after_codec = function () {
                client.apply_binding('#disp_controls');
                client.add_graph(['success', 'ignore', 'failure', 'correctIgnore'], 'stacked');
            });

{% endblock %}
{% block display_controls %}
                <!-- example button control that sends most recent value -->
                <div var-bind="button=client.varbyname('reward_duration').latest_value():LickOutput1">Give Reward</div>
                <div var-bind="button=0:LickInput2">Trigger LickInput2</div>
                <h1 class="control_heading">Basics</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Reward</h2>
                        <div var-bind="check:FlagAlwaysReward">Always Reward</div>
                        <div var-bind="reward_duration">ml</div>
                        <div var-bind="button=client.varbyname('reward_duration').latest_value():LickOutput1">Give Reward</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Punishment</h2>
                        <div var-bind="check:FlagPunishLicking">Punish Licking</div>
                        <div var-bind="check:FlagPunishMoving">Punish Moving</div>
                        <div var-bind="check:FlagLongPunishment">Long Punishment</div>
                        <div var-bind="Number_PunishmentCycles">N Cycles</div>
                        <div var-bind="timeout_time">Timeout</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Timing</h2>
                        <div var-bind="StimulusPresentation_time">Target Duration</div>
                        <div var-bind="DistractorPresentation_Time">Distractor Duration</div>
                        <div var-bind="TargetIdleTime">Target Idle Time</div>
                        <div var-bind="DistractorIdleTime">Distractor Idle Time</div>
                        <div var-bind="reward_time">Reward Time</div>
                    </div>
                </div>
                <h1 class="control_heading">Performance</h1>
                <div>
                    <div var-bind="success">Targets licked</div>
                    <div var-bind="ignore">Targets ignored</div>
                    <div var-bind="failure">Bad Licks</div>
                    <div var-bind="correctIgnore">Distractors correctly ignored</div>
                </div>
                <h1 class="control_heading">IO</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Phidget</h2>
                        <div var-bind="LickInput2">LickInput2</div>
                        <div var-bind="button=0:LickInput2">Trigger Lick</div>
                        <div var-bind="MotionInput1">Motion1</div>
                        <div var-bind="MotionInput2">Motion2</div>
                        <div var-bind="RefMotionAxis1">RefMotion2</div>
                        <div var-bind="RefMotionAxis2">RefMotion2</div>
                        <div var-bind="ThMotion">Motion Threshold</div>
                        <div var-bind="ThLickingMotion">Licking Motion Threshold</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">CNC</h2>
                        <div var-bind="path_origin_x">Origin X</div>
                        <div var-bind="path_origin_y">Origin Y</div>
                        <div var-bind="path_origin_z">Origin Z</div>
                        <div var-bind="path_slope_x">Slope X</div>
                        <div var-bind="path_slope_y">Slope Y</div>
                        <div var-bind="path_slope_z">Slope Z</div>
                        <div var-bind="path_depth">Path Depth</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Eye</h2>
                        <div var-bind="calibration_status">Status</div>
                        <div var-bind="pupil_radius">Radius</div>
                        <div var-bind="gaze_h">Horizontal</div>
                        <div var-bind="gaze_v">Vertical</div>
                    </div>
                </div>
{% endblock %}
