<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>MWorks Client</title>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.pnotify.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('filetree.static', filename='js/jqueryFileTree.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}" />

    <link href="{{ url_for('filetree.static', filename='css/jqueryFileTree.css') }}" rel="stylesheet"></link>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />

    <style>
        body {
            font: 62.5% "Trebuchet MS", sans-serif;
        }

        #chart {
            height: 500px;
        }
        
        .control_column {
            float: left;
            min-width: 250px;
        }

        .multicolumn_block{
            overflow: hidden;
        }
    </style>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/client.js') }}"></script>

    <script>
        $.pnotify.defaults.styling = "jqueryui";
        var client; // make this global

        var graphdata = [
            {'key': 'correct_lick', 'values': []},
            {'key': 'correct_ignore', 'values': []},
            {'key': 'bad_lick', 'values': []},
            {'key': 'bad_ignore', 'values': []},
        ];

        var chart;

        function getvalue(data, di, index) {
            if (index >= data[di]['values'].length) {
                return [false, data[di]['values'][data[di]['values'].length - 1]];
            } else {
                return [true, data[di]['values'][index]];
            };
        };

        function redraw() {
            // copy data
            mi = 0;
            inds = {};
            cvs = {};
            for (i in graphdata) {
                vn = graphdata[i]['key']
                vs = [];
                v = client.varbyname(vn);
                evs = v.events();
                for (vi in evs) {
                    // TODO value checking
                    vs.push([evs[vi].time, evs[vi].value]);
                };
                graphdata[i]['values'] = vs.sort(function (a, b) { a[0] - b[0] });
                mi = Math.max(mi, vs.length);
                //inds[graphdata[i]['key']] = 0;
                inds[i] = 0;
                cvs[i] = [];
            };
            // prep data
            alldone = false;
            rs = {};
            values = {};
            while (!alldone) {
                // get values for all data
                mt = Infinity;
                mdi = 0;
                for (di in inds) {
                    r = getvalue(graphdata, di, inds[di]);
                    rs[di] = r[0];
                    values[di] = r[1];
                    // find one with lowest time
                    if ((r[1][0] < mt) && (r[0])) {
                        mt = r[1][0];
                        mdi = di;
                    };
                };
                alldone = true;
                for (i in rs) {
                    alldone = alldone && (!rs[i]);
                };
                if (alldone) {
                    break;
                };
                // match all others to that
                for (di in inds) {
                    cvs[di].push([mt, values[di][1]]);
                };
                // increment that time for that one
                inds[mdi] += 1;
                alldone = true;
                for (i in rs) {
                    alldone = alldone && (!rs[i]);
                };
            };

            for (di in cvs) {
                graphdata[di]['values'] = cvs[di];
            };

            console.log(graphdata);
            d3.select('#chart')
                .datum(graphdata)
              .transition().duration(500)
                .call(chart);
        };

        function make_graphs() {
            chart = nv.models.stackedAreaChart()
                .x(function(d) { return d[0] })
                .y(function(d) { return d[1] });
            chart.xAxis.tickFormat(d3.format('i'));
            chart.yAxis.tickFormat(d3.format('i'));
            redraw();
            nv.utils.windowResize(chart.update);
            //window.setInterval(redraw, 1000);
        };

        $(document).ready(function () {
            console.log("document ready");

            client = mworks.client();
            client.connect_socket();
            // need to template the toolbar, and other tags that require id
            $('#toolbar').tabs();
            $('#display').tabs();

            $('#filetree').fileTree({
                root: '~/Repositories/coxlab/protocols',
                script: "{{ url_for('filetree.sfiles') }}",
            }, function (file) {
                $('#filetree').dialog('close');
                client.experiment_path(file);
                client.load_experiment();
                // TODO clean out old bindings?
                ko.applyBindings(client, $('#disp_controls').get(0));
                ko.applyBindings(client, $('#disp_graphs').get(0));
                make_graphs();
            });
            $('#filetree').dialog({
                autoOpen: false,
                height: 400,
            });
            client.select_experiment = function () {
                $('#filetree').dialog('open');
            };

            client.after_connected = function () {
                /*  TODO manage bindings
                ko.applyBindings(client, $('#disp_controls').get(0));
                ko.applyBindings(client, $('#disp_graphs').get(0)));
                */
            };

            client.throw = function (msg) {
                $.pnotify({
                    title: 'Error',
                    text: msg,
                    type: 'error',
                });
                throw msg;
            };
            // must be done AFTER redefining select_experiment :-/ 
            ko.applyBindings(client, $('#toolbar').get(0));
            ko.applyBindings(client, $('#disp_variables').get(0));

            // parse var-binds
            $('[var-bind]').each( function(index) {
                node = $(this).get(0);
                vb = node.attributes['var-bind'];
                if (vb.value.indexOf(':') === -1) {
                    bt = 'value';
                    vn = vb.value;
                } else {
                    tokens = vb.value.split(':');
                    bt = tokens[0];
                    vn = tokens[1];
                };
                switch (bt) {
                    case 'value':
                        $(this).attr('data-bind', "with: client.varbyname('" + vn + "')");
                        node.innerHTML = "<input class='control_input' value='' data-bind='value: latest_value'/>" + node.innerHTML;
                        break;
                    case 'check':
                        $(this).attr('data-bind', "with: client.varbyname('" + vn + "')");
                        node.innerHTML = "<input class='control_check' type='checkbox' value='' data-bind='checked: latest_value'/>" + node.innerHTML;
                        break;
                    default:
                        client.throw("Invalid var-bind type: " + bt);
                };
            });
        });
    </script>
</head>
<body>
    <div class="client" data-bind="with: client">
        <div id="toolbar" class="toolbar">
            <ul>
                <li><a href='#tb_connection'>Connection</a></li>
                <li><a href='#tb_experiment'>Experiment</a></li>
                <li><a href='#tb_variableset'>Variableset</a></li>
                <li><a href='#tb_datafile'>Datafile</a></li>
                <li><a href='#tb_config'>Config</a></li>
            </ul>
            <!-- Connection -->
            <div id="tb_connection" class="tb_connection">
                <span>Socket: 
                <span class="socket_connected"
                    data-bind="text: socket_connected_verbose"></span></span>
                <span>Server:
                <span class="connected"
                    data-bind="text: connected_verbose"></span></span>
                <span>Host:
                <input class="host" title="host"
                data-bind="value: host"></input></span>
                <span>Port:
                <input class="port" title="port"
                    data-bind="value: port"></input></span>
                <span>User:
                <input class="user" title="user"
                    data-bind="value: user"></input></span>
                <button class="connect"
                    data-bind="text: toggle_connect_label,
                        click: toggle_connect">
                </button>
            </div>

            <!-- Experiment -->
            <div id="tb_experiment" class="tb_experiment">
                <button class="running"
                    title="Start/Stop"
                    data-bind="text: toggle_running_label,
                        click: toggle_running">
                </button>
                <button class="paused"
                    title="Pause/Resume"
                    data-bind="text: toggle_paused_label,
                        click: toggle_paused">
                </button>
                <span class="experiment_name"
                    data-bind="text: experiment_name"></span>
                <input class="experiment_path"
                    data-bind="value: experiment_path"></input>
                <button class="load_experiment"
                    data-bind="click: select_experiment">Select Experiment
                </button>
                <span>Protocol:
                <select class="protocol"
                    title="Select protocol"
                    data-bind="options: protocols, value: protocol">
                </select></span>
            </div>

            <!-- Variables -->
            <div id="tb_variableset" class="tb_variableset">
                <span>Variables:
                <select class="variableset"
                    title="Select variableset"
                    data-bind="options: variablesets,
                        value: variableset">
                </select>
                <input class="variableset_overwrite" type="checkbox"
                    title="Overwrite Variables?"
                    data-bind="checked: variableset_overwrite"></input>
                <button class="load_variableset"
                    title="Load Variables"
                    data-bind="click: load_variableset">Load</button>
                <button class="save_variableset"
                    title="Save Variables"
                    data-bind="click: save_variableset">Save</button>
                </span>
            </div>

            <!-- Datafile -->
            <div id="tb_datafile" class="tb_datafile">
                <span>Datafile:
                <input class="datafile" data-bind="value: datafile"></input>
                <input class="datafile_overwrite" type="checkbox"
                    title="Overwrite Datafile?"
                    data-bind="checked: datafile_overwrite"></input>
                <button class="open_datafile" data-bind="click: open_datafile">
                Open</button>
                <button class="close_datafile" data-bind="click: close_datafile">
                Close</button>
                </span>
            </div>
            <div id="tb_config" class="tb_config">
                <span>Config:
                </span>
            </div>
        </div> <!-- toolbar -->
        <div id="display" class="toolbar">
            <ul>
                <li><a href='#disp_variables'>Variables</a></li>
                <li><a href='#disp_controls'>Controls</a></li>
                <li><a href='#disp_graphs'>Graphs</a></li>
            </ul>
            <div id="disp_variables" class="disp_variables">
                <table>
                    <thead><tr>
                            <th>Name</th><th>Latest</th>
                    </tr></thead>
                    <tbody data-bind="foreach: vars">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td><input class="variable_edit" data-bind="value: latest_value"/></td>
                            <!-- <td data-bind="text: latest_value"</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="disp_controls" class="disp_controls">
                <!-- example button control that sends most recent value -->
                <button class="control_button" title="lick_output"
                    onclick="client.send_event('lick_output', client.varbyname('default_reward_amount').latest_value())">
                    lick_output</button>
                <div var-bind="check:flag_head_sensing">Head Sensing</div>
                <h1 class="control_heading">Basics</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Reward</h2>
                        <div var-bind="check:flag_always_reward">Always Reward</div>
                        <div var-bind="default_alwaysreward_amount">ml</div>
                        <h3 class="control_heading">Standard Reward</h3>
                        <div var-bind="reward_min">min</div>
                        <div var-bind="reward_max">max</div>
                        <div var-bind="reward_increment">increment</div>
                        <div var-bind="default_reward_amount">Manual Reward</div>
                        <!-- <div var-bind="button:lick_output">Give Reward</div> -->
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Punishment</h2>
                        <div var-bind="check:flag_punish_lick">Punish Licking</div>
                        <div var-bind="default_punish_numcycles">N Cycles</div>
                        <div var-bind="default_timeout_dur">Timeout</div>
                        <div var-bind="check:flag_postreward_punish">Post-reward Punish</div>
                        <div var-bind="postreward_punish">N Cycles</div>
                        <div var-bind="postreward_timeout">Timeout</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Timing</h2>
                        <div var-bind="check:flag_dim_target">Dim Target</div>
                        <div var-bind="targetdur_time">Target Duration</div>
                        <div var-bind="distractor_time">Distractor Duration</div>
                        <div var-bind="reward_time">Licking Duration</div>
                        <h2 class="control_heading">Stimuli</h2>
                        <div var-bind="targetprob">Target Prob</div>
                        <div var-bind="curr_contrast">Distractor Contrast</div>
                    </div>
                </div>
                <h1 class="control_heading">Phase training</h1>
                <div var-bind="check:flag_automate">Automate Training</div>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Manual Training</h2>
                        <div var-bind="check:flag_prereward">Pre Reward</div>
                        <div var-bind="check:flag_target_training">Target Training</div>
                        <div var-bind="check:flag_contrast_training">Contrast Training</div>
                        <div var-bind="check:flag_always_reward">Always Reward</div>
                        <div var-bind="check:flag_punish_lick">Punish Licking</div>
                        <div var-bind="check:flag_postreward_punish">Post-reward Punish</div>
                        <div var-bind="phases_completed">Phases Completed</div>
                        <div var-bind="threshold">Threshold</div>
                        <div var-bind="min_for_criterion">Min Trials for Criterion</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Phase Transition</h2>
                        <div var-bind="correct_lick">Correct Lick</div>
                        <div var-bind="correct_ignore">Correct Ignore</div>
                        <div var-bind="bad_lick">Bad Lick</div>
                        <div var-bind="bad_ignore">Bad Ignore</div>
                        <div var-bind="criterion_count">Criterion Count</div>
                        <div var-bind="criterion_met">Criterion Met</div>
                    </div>
                </div>
                <h1 class="control_heading">Phases</h1>
                <div class="multicolumn_block">
                    <div class="control_column">
                        <h2 class="control_heading">Target Prob</h2>
                        <div var-bind="targetprob">Target Prob</div>
                        <div var-bind="targetprob_up_thresh">Up threshold</div>
                        <div var-bind="targetprob_down_thresh">Down threshold</div>
                        <div var-bind="targetprob_upper">Upper Bound</div>
                        <div var-bind="targetprob_lower">Lower Bound</div>
                        <div var-bind="targetprob_stepsize">Increment</div>
                        <div var-bind="progress">Current Tracked</div>
                        <div var-bind="curr_progress">Current Overall Success</div>
                    </div>
                    <div class="control_column">
                        <h2 class="control_heading">Contrast</h2>
                        <div var-bind="curr_contrast">Distractor Contrast</div>
                        <div var-bind="contrast_up_thresh">Up threshold</div>
                        <div var-bind="contrast_down_thresh">Down threshold</div>
                        <div var-bind="contrast_upper">Upper Bound</div>
                        <div var-bind="contrast_lower">Lower Bound</div>
                        <div var-bind="contrast_stepsize">Increment</div>
                        <div var-bind="distractor_perf">Current Tracked</div>
                        <div var-bind="curr_distractor_perf">Current Overall Success</div>
                    </div>
                </div>
                <!--
                head sensor
                lick sensor
                -->
            </div>
            <div id="disp_graphs" class="disp_graphs">
                <svg id='chart'></svg>
            </div>
    </div>
    <div id="filetree" title="Select a file"></div>
    <script>
        $(parent).trigger('initialize:frame');
    </script>
</body>
</html>
