<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>MWorks Client</title>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.pnotify.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('filetree.static', filename='js/jqueryFileTree.js') }}"></script>

    <script type="text/javascript"
        src="{{ url_for('mercury.static', filename='js/mercury_loader.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}" />

    <link href="{{ url_for('filetree.static', filename='css/jqueryFileTree.css') }}" rel="stylesheet"></link>

    <style>
        body {
            font: 62.5% "Trebuchet MS", sans-serif;
        }
    </style>

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/client.js') }}"></script>

    <script>
        $.pnotify.defaults.styling = "jqueryui";
        var client; // make this global

        
        $(window).bind('mercury:ready', function () {
            {% if (content != {}) and ('controls' in content) and ('snippets' in content['controls']) %}
            snippets = {{ content['controls']['snippets']|tojson|safe }};
            {% else %}
            snippets = {};
            {% endif %}
            
            {% if (content != {}) and ('graphs' in content) and ('snippets' in content['graphs']) %}
            other_snippets = {{ content['graphs']['snippets']|tojson|safe }};
            for (k in other_snippets) {
                snippets[k] = other_snippets[k];
            };
            {% endif %}
            
            snippets = Mercury.Snippet.load(snippets);
            console.log("No snippets provided");

            // attach a callback to reapply bindings to controls and graphs
            // areas after they are modified
            selectors = ['#disp_controls', '#disp_graphs']
            nodes = {};  // indexed by ['snippet_name']['snippet_version'] = dom node
            Mercury.on('mode', function (event, options) {
                if ((options.mode == 'preview') & (document.readyState == 'complete')) {
                    // check if nodes need updating
                    // things to check
                    // - if a node has not been bound, bind it (look for __ko__....
                    // - if a node has changed (snippet version), clean then rebind
                    // - if a node has been removed, clean the dom

                    // this requires storing
                    // - dom node reference (for snippet contents? to clean/remove)
                    // - snippet version (& name)

                    // find nodes that may need binding in '#disp_controls' and '#disp_graphs'
                    current_nodes = {};
                    // get current nodes
                    for (si in selectors) {
                        selector = selectors[si];
                        snippets = $(selector).find('[data-snippet]');
                        if (snippets.length == 0) {
                            continue;
                        };
                        for (var sni=0; sni < snippets.length; sni++) {
                            snippet = snippets[sni];
                            console.log({snippets: snippets, sni: sni, snippet: snippet});
                            // get snippet version & name
                            name = snippet.attributes['data-snippet'];
                            version = snippet.attributes['data-version'];
                            if (current_nodes.hasOwnProperty(name)) {
                                current_nodes[name][version] = snippet;
                            } else {
                                current_nodes[name] = {version: snippet};
                            };
                        };
                    };
                    console.log({nodes: nodes, current_nodes: current_nodes});
                    // bindings = $('[data-bind]', snippet);

                    // find new, changed, and removed
                    for (current_name in current_nodes) {
                        if (current_name in nodes) {
                            versions = Object.keys(current_nodes[current_name]);
                            if (versions.length != 1) {
                                throw {error: "Expected versions.length of 1",
                                    versions: versions, name: current_name};
                            };
                            version = versions[0];
                            if (version in nodes[current_name]) {
                                // OLD
                                // this is an old node (do nothing)
                                continue;
                            } else {
                                // MODIFIED
                                // this is a modifed version of an old node
                                // clean up old node
                                // apply bindings to node
                                current_node = current_nodes[current_name][version];
                                versions = Object.keys(nodes[current_name]);
                                if (versions.length != 1) {
                                    throw {error: "Expected versions.length of 1",
                                        versions: versions, name: current_name};
                                };
                                old_node = nodes[current_name][versions[0]];
                                console.log({msg: 'Found modification', current: current_node, old: old_node});
                                $(old_node).unbind('*');
                                ko.cleanNode(old_node);
                                ko.removeNode(old_node);
                                ko.applyBindings(client, current_node);
                            };
                        } else {
                            // NEW
                            // this is a brand new node
                            // apply bindings to it
                            versions = Object.keys(current_nodes[current_name]);
                            if (versions.length != 1) {
                                throw {error: "Expected versions.length of 1",
                                    versions: versions, name: current_name};
                            };
                            version = versions[0];
                            current_node = current_nodes[current_name][version];
                            console.log({msg: 'Found addition', current: current_node});
                            ko.applyBindings(client, current_node);
                        };
                    };

                    // REMOVED check for removed nodes
                    for (name in nodes) {
                        if (!(name in current_nodes)) {
                            // REMOVED
                            // unbind & remove node
                            versions = Object.keys(nodes[name]);
                            if (versions.length != 1) {
                                throw {error: "Expected versions.length of 1",
                                    versions: versions, name: name};
                            };
                            version = versions[0];
                            node = nodes[name][version];
                            console.log({msg: 'Found removal', old: node});
                            $(node).unbind('*');
                            ko.cleanNode(node);
                            ko.removeNode(node);
                        };
                    };

                    // update nodes
                    //delete nodes;
                    nodes = current_nodes;
                    /*
                    console.log({f: 'Mercury.on("mode")', options: options, event: event});
                    nodes = ['#disp_controls', '#disp_graphs'];
                    console.log('nodes');
                    console.log({nodes: nodes});
                    for (ni in nodes) {
                        subnodes = $(nodes[ni]).find('*');
                        console.log('subnodes');
                        console.log({subnodes: subnodes});
                        for (si in subnodes) {
                            console.log(subnodes[si]);
                            console.log('unbinding subnode');
                            $(subnodes[si]).unbind('*');  // removes ALL jquery events
                            console.log('cleaning subnode');
                            ko.cleanNode(subnodes[si]);  // removes knockout internal stuff
                        }
                        $(nodes[ni]).unbind('*');
                        ko.cleanNode($(nodes[ni]));
                        console.log('reapplying bindings');
                        //console.log($(nodes[ni]).get(0));
                        console.log($(nodes[ni]));
                        ko.applyBindings(client, $(nodes[ni]));  // reapply bindings
                    };
                    */
                };
            });
        });

        $(document).ready(function () {
            console.log("document ready");
            // TODO check if this is an iframe
            client = mworks.client();
            client.connect_socket();
            // need to template the toolbar, and other tags that require id
            $('#toolbar').tabs();
            $('#display').tabs();

            $('#filetree').fileTree({
                root: '~',
                script: "{{ url_for('filetree.sfiles') }}",
            }, function (file) {
                $('#filetree').dialog('close');
                client.experiment_path(file);
                client.load_experiment();
            });
            $('#filetree').dialog({
                autoOpen: false,
                height: 400,
            });
            client.select_experiment = function () {
                $('#filetree').dialog('open');
            };

            client.throw = function (msg) {
                $.pnotify({
                    title: 'Error',
                    text: msg,
                    type: 'error',
                });
                throw msg;
            };
            // must be done AFTER redefining select_experiment :-/ 
            ko.applyBindings(client);
        });
    </script>
</head>
<body>
    <div class="client" data-bind="with: client">
        <div id="toolbar" class="toolbar">
            <ul>
                <li><a href='#tb_connection'>Connection</a></li>
                <li><a href='#tb_experiment'>Experiment</a></li>
                <li><a href='#tb_variableset'>Variableset</a></li>
                <li><a href='#tb_datafile'>Datafile</a></li>
                <li><a href='#tb_config'>Config</a></li>
            </ul>
            <!-- Connection -->
            <div id="tb_connection" class="tb_connection">
                <span>Socket: 
                <span class="socket_connected"
                    data-bind="text: socket_connected_verbose"></span></span>
                <span>Server:
                <span class="connected"
                    data-bind="text: connected_verbose"></span></span>
                <span>Host:
                <input class="host" title="host"
                data-bind="value: host"></input></span>
                <span>Port:
                <input class="port" title="port"
                    data-bind="value: port"></input></span>
                <span>User:
                <input class="user" title="user"
                    data-bind="value: user"></input></span>
                <button class="connect"
                    data-bind="text: toggle_connect_label,
                        click: toggle_connect">
                </button>
            </div>

            <!-- Experiment -->
            <div id="tb_experiment" class="tb_experiment">
                <button class="running"
                    title="Start/Stop"
                    data-bind="text: toggle_running_label,
                        click: toggle_running">
                </button>
                <button class="paused"
                    title="Pause/Resume"
                    data-bind="text: toggle_paused_label,
                        click: toggle_paused">
                </button>
                <span class="experiment_name"
                    data-bind="text: experiment_name"></span>
                <input class="experiment_path"
                    data-bind="value: experiment_path"></input>
                <button class="load_experiment"
                    data-bind="click: select_experiment">Select Experiment
                </button>
                <span>Protocol:
                <select class="protocol"
                    title="Select protocol"
                    data-bind="options: protocols, value: protocol">
                </select></span>
            </div>

            <!-- Variables -->
            <div id="tb_variableset" class="tb_variableset">
                <span>Variables:
                <select class="variableset"
                    title="Select variableset"
                    data-bind="options: variablesets,
                        value: variableset">
                </select>
                <input class="variableset_overwrite" type="checkbox"
                    title="Overwrite Variables?"
                    data-bind="checked: variableset_overwrite"></input>
                <button class="load_variableset"
                    title="Load Variables"
                    data-bind="click: load_variableset">Load</button>
                <button class="save_variableset"
                    title="Save Variables"
                    data-bind="click: save_variableset">Save</button>
                </span>
            </div>

            <!-- Datafile -->
            <div id="tb_datafile" class="tb_datafile">
                <span>Datafile:
                <input class="datafile" data-bind="value: datafile"></input>
                <input class="datafile_overwrite" type="checkbox"
                    title="Overwrite Datafile?"
                    data-bind="checked: datafile_overwrite"></input>
                <button class="open_datafile" data-bind="click: open_datafile">
                Open</button>
                <button class="close_datafile" data-bind="click: close_datafile">
                Close</button>
                </span>
            </div>
            <div id="tb_config" class="tb_config">
                <span>Config:
                <a href="javascript:Mercury.trigger('toggle:interface')">Edit</a>
                </span>
            </div>
        </div> <!-- toolbar -->
        <!--
        <div class="registrar">
            <span>Register Variable:
                <form data-bind="submit: function (item) { client.register($('.variable', item)[0].value); }, eventBubble: false">
                    <input class="variable"></input>
                </form>
            </span>
        </div>
        -->
        <div id="display" class="toolbar">
            <ul>
                <li><a href='#disp_variables'>Variables</a></li>
                <li><a href='#disp_controls'>Controls</a></li>
                <li><a href='#disp_graphs'>Graphs</a></li>
            </ul>
            <div id="disp_variables" class="disp_variables">
                <table>
                    <thead><tr>
                            <th>Name</th><th>Latest</th>
                    </tr></thead>
                    <tbody data-bind="foreach: vars">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: latest_value"</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="disp_controls" class="disp_controls mercury-region" data-mercury="full">
                {% if (content != {}) and ('controls' in content) and ('value' in content['controls']) %}
                    {{ content['controls']['value']|safe }}
                {% endif %}
            </div>
            <div id="disp_graphs" class="disp_graphs mercury-region" data-mercury="full">
                {% if (content != {}) and ('graphs' in content) and ('value' in content['graphs']) %}
                    {{ content['graphs']['value']|safe }}
                {% endif %}
            </div>
    </div>
    <div id="filetree" title="Select a file"></div>
    <script>
        $(parent).trigger('initialize:frame');
    </script>
</body>
</html>
